
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  min-height: 100vh;

  background-image: url("../assets/wood-material-background-wallpaper-texture-concept_53876-42925.avif");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 100% auto;
}

@media (max-width: 1250px) {
  #root {
   background-size: 100% auto;
  }
}
