@font-face {
    font-family: "Western";
    src: local("Cowboy Movie"), url("../font/Cowboy\ Movie.ttf") format("truetype");
}

@font-face {
    font-family: "WesternBody";
    src: local("Smokum-Regular"), url("../font/Smokum-Regular.ttf") format("truetype");
}

.post {
    background-color: #f4e8c5;
    background: top center / contain no-repeat url("../assets/texturePost.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 5px 10px 5px rgb(80, 52, 9);    
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 155px 30px;
}

.post:hover {
    /* transform: scale(1.05); */
    box-shadow: 0px 5px 10px 5px rgb(245, 202, 137); 
}


.textPost {
    overflow-wrap: break-word;
    width: 100%;
    padding: 10px;
}

.textPost h1 {
    font-family: "Western";
    font-size: 50px;
    text-align: center;
}

.textPost p {
    font-family: "WesternBody";
    font-size: 26px;
    text-align: justify;
    padding: 10px 40px;
}

.authorPost {
    display: flex;
    gap:10px;
    align-items: center;
}

p {
    margin: 0px;
    width: auto;
}

.authorPost {
    display: flex;
    gap:10px;
    align-items: center;
}

.icon:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.timetampPost {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.date {
 font-family: "WesternBody";
 font-size: 20px;
}

.pngAsSvg {
    width: 30px;
    height:auto;
}


.iconContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    height: 26px;
    width: 26px;
}

.addCommentContainer{
    display: flex;
    align-items: center;
    background-color: #f4e8c5;
    padding: 10px;
    border-radius: 10px;
}

textarea{
    width: 100%;
}

.contentPost {
    padding: 20px 0px;
}